.filtersContainer {
    display: flex;
    flex-direction: row;
    background: rgb(9, 12, 8, 0.9);
    width: 87%;
    justify-content: space-around;
    color: #4066e2;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid rgba(250,235,215);
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: row;
}